h4{
    color:darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
b{
    font-size: 100px;
}

/* styling about us footer section  */
a:hover{
    text-decoration: none !important;
    
}

a{
    font-size:20px;
}

/* Footer css */
footer{
    background-color: whitesmoke;
    height:170px;
    margin-top:160px;
}
.font-about{
    font-family: "Comic Sans MS",cursive,sans-serif;
    font-size: 25px;
}

/* styling icons  */
.fa{
    font-size: 4em !important; /*size whatever you like*/
    color:blue;
}
.fa:hover{
    color:black;
}